<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimplifiedShopFlowWebServiceImplPortBinding">
                  <security mode="Transport" >
                    <transport clientCredentialType="Basic" realm="Spring Security Application" />
                  </security>
                </binding>
                <binding name="SimplifiedShopFlowWebServiceImplPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ResursBankServiceClient.resurs.com/ecommerce-ResursBankServiceClient/ws/V4/SimplifiedShopFlowService"
                binding="basicHttpBinding" bindingConfiguration="SimplifiedShopFlowWebServiceImplPortBinding"
                contract="SimplifiedShopFlowService.SimplifiedShopFlowWebService"
                name="SimplifiedShopFlowWebServiceImplPort" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="username" value="getano"/>
    <add key="password" value="fPij6eng"/>
  </appSettings>
</configuration>