@model EPiServer.Reference.Commerce.Site.Features.Payment.Models.ResursBankCheckoutViewModel
@Html.HiddenFor(model => model.PaymentMethod.PaymentMethodId)
<div class="alert alert-info">
    Using Resurs Bank checkout payment
</div>
